<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.OracleDialect</property>
    <property name="hibernate.connection.driver_class">oracle.jdbc.OracleDriver</property>
    <property name="hibernate.connection.url">jdbc:oracle:thin:@localhost:1521:XE</property>
    <property name="hibernate.connection.username">PORTAFOLIO</property>
    <property name="hibernate.connection.password">1234</property>
    <mapping resource="ModeloHibernate/Perfil.hbm.xml"/>
    <mapping resource="ModeloHibernate/PromocionHabitacion.hbm.xml"/>
    <mapping resource="ModeloHibernate/InventarioHabitacion.hbm.xml"/>
    <mapping resource="ModeloHibernate/ReservaServExt.hbm.xml"/>
    <mapping resource="ModeloHibernate/Plato.hbm.xml"/>
    <mapping resource="ModeloHibernate/Insumos.hbm.xml"/>
    <mapping resource="ModeloHibernate/HistorialCobro.hbm.xml"/>
    <mapping resource="ModeloHibernate/RegistroInspeccion.hbm.xml"/>
    <mapping resource="ModeloHibernate/Hoteles.hbm.xml"/>
    <mapping resource="ModeloHibernate/Ingrediente.hbm.xml"/>
    <mapping resource="ModeloHibernate/ServiciosExtras.hbm.xml"/>
    <mapping resource="ModeloHibernate/InventarioCocina.hbm.xml"/>
    <mapping resource="ModeloHibernate/Ciudad.hbm.xml"/>
    <mapping resource="ModeloHibernate/Pais.hbm.xml"/>
    <mapping resource="ModeloHibernate/ReservaHabitacion.hbm.xml"/>
    <mapping resource="ModeloHibernate/Habitaciones.hbm.xml"/>
    <mapping resource="ModeloHibernate/Descuento.hbm.xml"/>
    <mapping resource="ModeloHibernate/Muebles.hbm.xml"/>
    <mapping resource="ModeloHibernate/Empresa.hbm.xml"/>
    <mapping resource="ModeloHibernate/Usuario.hbm.xml"/>
    <mapping resource="ModeloHibernate/Proveedores.hbm.xml"/>
    <mapping resource="ModeloHibernate/TipoHabitacion.hbm.xml"/>
    <mapping resource="ModeloHibernate/MateniaPrima.hbm.xml"/>
    <mapping resource="ModeloHibernate/Menu.hbm.xml"/>
    <mapping resource="ModeloHibernate/Pasajeros.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
